* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2e3440;
  color: #d8dee9;
  font-family: sans-serif;
}

#app {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 800px;
  max-width: calc(100% - 32px);
}